.env

jdownloader/config/
jdownloader/downloads/

audiobookshelf/audiobooks/
audiobookshelf/podcasts/
audiobookshelf/metadata/
audiobookshelf/config

filezilla/config/
filezilla/storage/

jellyfin/config/
jellyfin/cache/

postgres/pgdata/
postgres/pgadmindata/

adguard/work/
adguard/conf/

qbittorrent/config/
qbittorrent/downloads/
