.env

jdownloader/config/
jdownloader/output/

audiobookshelf/audiobooks/
audiobookshelf/podcasts/
audiobookshelf/metadata/
audiobookshelf/config

filezilla/config/
filezilla/storage/

jellyfin/config/
jellyfin/cache/

postgres/pgdata/
postgres/pgadmindata/
